[build]
  command = "npm run build"
  publish = ".next"

[build.environment]
  NEXT_TELEMETRY_DISABLED = "1"
  NETLIFY_NEXT_PLUGIN_SKIP_FORM_DETECTION = "true"

[[plugins]]
  package = "@netlify/plugin-nextjs" 