@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@scroll-timeline sectionTimeline {
  source: document.scrollingElement;
  orientation: block;
  scroll-offsets: auto;
}

.gallery-section img {
  cursor: pointer !important;
  transition: box-shadow 0.3s ease, filter 0.3s ease, opacity 0.3s ease;
  border-radius: 10px;
  margin: 10px; /* Adds space between images */
}

/* Gradient darkening hover effect */
.gallery-section img:hover {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  filter: brightness(0.7);
  transition-duration: 500ms;
  position: relative;
}

.gallery-section img:hover::after {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 30%, rgba(0, 0, 0, 0.7) 100%);
  border-radius: 10px;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.gallery-section img:hover::after {
  opacity: 1;
}

section {
  opacity: 0;
  transform: translateY(20px);
  animation: fadeInUp 1s forwards;
  animation-timeline: sectionTimeline;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}
